version = 0.26.1

profile = ocamlformat
indicate-multiline-delimiters = closing-on-separate-line
type-decl = sparse
doc-comments = before
field-space = loose

space-around-arrays = true
space-around-lists = true
space-around-records = true
space-around-variants = true
